.carousel{
    position: relative;
}
.banner-design{
    padding: 20px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #443f41 0%, #9c858e 100%);
    color: #fff;
    border: none;
    box-shadow: 5px 5px 10px gray;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel img{
    padding: 20px;
}